section{
    display: inline-block;

     }
     
     
.main__heading{
    margin-top: 80px;
        font-weight: bold;
        size: 40px;
        max-width: 700px;
        width: 100%;
        margin-left: 125px;
     }

    .main__info{
    size: 16px;
    font-weight:normal;
    max-width: 700px;
    width: 100%;
    margin-left: 125px;

}
           .mainimg,.map{
        max-width: 500px;
        width: 80%;
        min-height: 80vh;
        margin-left: 125px;
        margin-top: 50px;
        margin-bottom: 50px;
      }
      .secondinfo{
        margin-bottom: 80px;
        margin-top: 80px;
        font-weight:normal;
        size: 16px;
        margin-left: 125px;
        margin-right: 125px;

      }

   
      
    @import 'card'; 
    @import 'table';